sudo: false
install: true

script:
  - >
    mvn -Pcoverage
    clean
    verify
    sonar:sonar
    -Dsonar.projectKey=com.github.malkomich:vertx-skeleton

addons:
  sonarcloud:
    organization: malkomich-github
    token: ${SONAR_TOKEN}

before_cache:
  - rm -fr $HOME/.m2/repository/com/github/malkomich

cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.sonar/cache'

notifications:
  email: false
